body {
  background: #c2c2c2;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;

}
.pixel {
  display: inline-grid;
  background-color: #ffffff;
  height:  10px;
  width: 10px;
  border: 1px solid lightgrey;
  float: left

}
.paintColor, input {
  display: inline-grid;
  background-color: #ffffff;
  height: 30px;
  width: 20px;
  border: 1px solid black;
  margin: 2px;
}
.paintColor:hover {
  position: relative;
  top: -5px;
}
.round { border-radius: 10px }
#container {
  width: 800px;
  padding: 10px;
}
#canvas {
  padding: 10px;
  height: 500px;
  width: 750px;
  border: 10px solid white;
}
#palette{
  padding: 10px;
  height: 50px;
  width: 750px;
  border: 10px solid #fff;
  background-color: #fff
}
.blank { background-color: white }
#red { background-color: red }
#blue { background-color: blue }
#green { background-color: green }
#black { background-color: black }
