body {
  /* background: #c2c2c2; */
  background-image: url("../assets/bobRoss.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #c2c2c2;

}
.pixel {
  display: inline-grid;
  background-color: #ffffff;
  height:  10px;
  width: 10px;
  border: 1px solid lightgrey;
  float: left

}
.paintColor, input {
  display: inline-grid;
  background-color: #fff;
  height: 30px;
  width: 20px;
  border: 1px solid black;
  margin: 2px;
}
.paintColor:hover {
  position: relative;
  top: -5px;
  transition: 2s;
}
#container {
  width: 800px;
  padding: 10px;
}
#canvas {
  padding: 10px;
  height: 500px;
  width: 750px;
  border: 10px solid #fff;
}
#palette, #palette2{
  padding: 10px;
  height: 40px;
  width: 750px;
  border: 10px solid #fff;
  background-color: lightblue;

}
input { float}
.round { border-radius: 10px }
